body.page-Muza_Tableold
{
padding-top:10px; padding-left:10px;
}
.page-Muza_Tableold .runner-c-bigblock,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-bigblock,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-bigblock
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-bigblock,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-bigblock,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-bigblock
{
width: 100%;
}
.page-Muza_Tableold .runner-c-recordcontrols,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-recordcontrols,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-recordcontrols
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-recordcontrols,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-recordcontrols,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-recordcontrols
{
width: 100%;
}
.page-Muza_Tableold .runner-b-recordcontrols_new,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-recordcontrols_new,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new
{
text-align: left;
}
.page-Muza_Tableold .runner-b-recordcontrols_new > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrols_new > *
{

}
.page-Muza_Tableold .runner-b-recordcontrol,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-recordcontrol,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol
{
text-align: left;
}
.page-Muza_Tableold .runner-b-recordcontrol > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recordcontrol > *
{

}
.page-Muza_Tableold .runner-c-message,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-message,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-message
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-message,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-message,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-message
{
width: 100%;
}
.page-Muza_Tableold .runner-b-message,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-message
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-message,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-message
{
text-align: center;
}
.page-Muza_Tableold .runner-b-message > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-message > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-message > *
{

}
.page-Muza_Tableold .runner-c-grid .runner-cs,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-grid .runner-cs,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-grid .runner-cs
{
width: 10px;
}
.page-Muza_Tableold .runner-c-grid .runner-rs,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-grid .runner-rs,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-grid .runner-rs
{
height: 10px;
}
.page-Muza_Tableold .runner-c-grid,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-grid,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-grid
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-b-grid,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-grid,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-grid
{
white-space: normal;
}
.page-Muza_Tableold .runner-b-grid,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-grid,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-grid
{
text-align: right;
}
.page-Muza_Tableold .runner-b-grid > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-grid > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-grid > *
{

}
.page-Muza_Tableold .runner-c-pagination,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-pagination,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-pagination
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-pagination,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-pagination,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-pagination
{
width: 100%;
}
.page-Muza_Tableold .runner-b-pagination,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-pagination,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination
{
text-align: center;
}
.page-Muza_Tableold .runner-b-pagination > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-pagination > *
{

}
body.page-Muza_Tableold .runner-center
{
padding-right: 5px;
}
.page-Muza_Tableold .runner-c-search,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-search,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-search
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-search,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-search,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-search
{
width: 100%;
}
.page-Muza_Tableold .runner-b-search,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-search,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search
{
text-align: right;
}
.page-Muza_Tableold .runner-b-search > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search > *
{

}
.page-Muza_Tableold .runner-b-search_buttons,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-search_buttons,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons
{
text-align: right;
}
.page-Muza_Tableold .runner-b-search_buttons > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-search_buttons > *
{

}
.page-Muza_Tableold .runner-b-details_found,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-details_found,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found
{
text-align: left;
}
.page-Muza_Tableold .runner-b-details_found > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-details_found > *
{

}
.page-Muza_Tableold .runner-b-page_of,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-page_of,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of
{
text-align: left;
}
.page-Muza_Tableold .runner-b-page_of > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-page_of > *
{

}
.page-Muza_Tableold .runner-b-recsperpage,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-recsperpage,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage
{
text-align: left;
}
.page-Muza_Tableold .runner-b-recsperpage > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-recsperpage > *
{

}
.page-Muza_Tableold .runner-c-searchp,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-searchp,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-searchp
{
margin-bottom:5px;
}
.page-Muza_Tableold .runner-c-searchp,
  .runner-pagewrapper .page-Muza_Tableold .runner-c-searchp,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-c-searchp
{
width: 100%;
}
.page-Muza_Tableold .runner-b-searchpanel,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel
{
white-space: nowrap;
}
.page-Muza_Tableold .runner-b-searchpanel,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel
{
text-align: right;
}
.page-Muza_Tableold .runner-b-searchpanel > *,
  .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel > *,
  .runner-pagewrapper .runner-pagewrapper .page-Muza_Tableold .runner-b-searchpanel > *
{

}
body.page-Muza_Tableold .runner-top
{
padding-right: 5px;
}
