<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Copy of pejawatan_staffdetails</h1>
<span>
{BEGIN page_number}
Halaman {$pageno} dari {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN name_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN name_fieldheader}
	<b>Name</b>
	{END name_fieldheader}
</th>
{END name_fieldheadercolumn}
	{BEGIN Jawatan_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Jawatan_fieldheader}
	<b>Jawatan</b>
	{END Jawatan_fieldheader}
</th>
{END Jawatan_fieldheadercolumn}
	{BEGIN Bahagian_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Bahagian_fieldheader}
	<b>Bahagian</b>
	{END Bahagian_fieldheader}
</th>
{END Bahagian_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN name_fieldcolumn}
<td  class="runner-cc {$name_class}" {$name_style}>
	{$name_value}
</td>
{END name_fieldcolumn}
	{BEGIN Jawatan_fieldcolumn}
<td  class="runner-cc {$Jawatan_class}" {$Jawatan_style}>
	{$Jawatan_value}
</td>
{END Jawatan_fieldcolumn}
	{BEGIN Bahagian_fieldcolumn}
<td  class="runner-cc {$Bahagian_class}" {$Bahagian_style}>
	{$Bahagian_value}
</td>
{END Bahagian_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN name_fieldfootercolumn}
<td class="runner-cc "></td>
{END name_fieldfootercolumn}
{BEGIN Jawatan_fieldfootercolumn}
<td class="runner-cc "></td>
{END Jawatan_fieldfootercolumn}
{BEGIN Bahagian_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END Bahagian_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
