<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN individu_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_individu {$fielddispclass_individu}">
				{BEGIN individu_label}Individu{END individu_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_individu {$fielddispclass_individu}">
				{$individu_editcontrol}
			</div>
		</td>
	</tr>
{END individu_tabfieldblock}
{BEGIN bahagian_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_bahagian {$fielddispclass_bahagian}">
				{BEGIN bahagian_label}Bahagian{END bahagian_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_bahagian {$fielddispclass_bahagian}">
				{$bahagian_editcontrol}
			</div>
		</td>
	</tr>
{END bahagian_tabfieldblock}
{BEGIN jawatan_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jawatan {$fielddispclass_jawatan}">
				{BEGIN jawatan_label}Jawatan{END jawatan_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_jawatan {$fielddispclass_jawatan}">
				{$jawatan_editcontrol}
			</div>
		</td>
	</tr>
{END jawatan_tabfieldblock}
</table>





{END container_1}

</div>