<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN agensi_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_agensi {$fielddispclass_agensi}">
				{BEGIN agensi_label}Agensi{END agensi_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_agensi {$fielddispclass_agensi}">
				{$agensi_editcontrol}
			</div>
		</td>
	</tr>
{END agensi_tabfieldblock}
</table>





{END container_1}

</div>