<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="name">
	{$name_editcontrol}
	</control>
	<control field="Jawatan">
	{$Jawatan_editcontrol}
	</control>
	<control field="Bahagian">
	{$Bahagian_editcontrol}
	</control>
	<control field="post_id">
	{$post_id_editcontrol}
	</control>
	<control field="dept_id">
	{$dept_id_editcontrol}
	</control>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="id1">
	{$id1_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>