<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN individu_tabfieldblock}
<tr class="{$fielddispclass_individu}" data-fieldname="individu">
	<td class="style1 rnr-label">
		{$label menuview individu}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_individu">
		{$individu_value}
		</div>
	</td>
</tr>
{END individu_tabfieldblock}
{BEGIN bahagian_tabfieldblock}
<tr class="{$fielddispclass_bahagian}" data-fieldname="bahagian">
	<td class="style1 rnr-label">
		{$label menuview bahagian}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_bahagian">
		{$bahagian_value}
		</div>
	</td>
</tr>
{END bahagian_tabfieldblock}
{BEGIN jawatan_tabfieldblock}
<tr class="{$fielddispclass_jawatan}" data-fieldname="jawatan">
	<td class="style1 rnr-label">
		{$label menuview jawatan}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_jawatan">
		{$jawatan_value}
		</div>
	</td>
</tr>
{END jawatan_tabfieldblock}
</table>




{END container_1}

</div>