<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="dariJenis">
	{$dariJenis_editcontrol}
	</control>
	<control 
	field="dariBahagian">
	{$dariBahagian_editcontrol}
	</control>
	<control 
	field="dariJawatan">
	{$dariJawatan_editcontrol}
	</control>
	<control 
	field="dariIndividu">
	{$dariIndividu_editcontrol}
	</control>
	<control 
	field="kategori">
	{$kategori_editcontrol}
	</control>
	<control 
	field="tarikhTerima">
	{$tarikhTerima_editcontrol}
	</control>
	<control 
	field="tarikhSurat">
	{$tarikhSurat_editcontrol}
	</control>
	<control 
	field="rujukanSurat">
	{$rujukanSurat_editcontrol}
	</control>
	<control 
	field="perkara">
	{$perkara_editcontrol}
	</control>
	<control 
	field="status">
	{$status_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
