<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN individu_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_individu {$fielddispclass_individu}">
				Individu
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_individu {$fielddispclass_individu}">
			{$individu_value}
			</div>
		</td>
	</tr>
{END individu_tabfieldblock}
{BEGIN bahagian_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_bahagian {$fielddispclass_bahagian}">
				Bahagian
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_bahagian {$fielddispclass_bahagian}">
			{$bahagian_value}
			</div>
		</td>
	</tr>
{END bahagian_tabfieldblock}
{BEGIN jawatan_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jawatan {$fielddispclass_jawatan}">
				Jawatan
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_jawatan {$fielddispclass_jawatan}">
			{$jawatan_value}
			</div>
		</td>
	</tr>
{END jawatan_tabfieldblock}
</table>





{END container_1}

</div>