<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Surat</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN sid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN sid_fieldheader}
	<b>Sid</b>
	{END sid_fieldheader}
</th>
{END sid_fieldheadercolumn}
	{BEGIN tarikhTerima_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN tarikhTerima_fieldheader}
	<b>Tarikh Terima</b>
	{END tarikhTerima_fieldheader}
</th>
{END tarikhTerima_fieldheadercolumn}
	{BEGIN dari_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN dari_fieldheader}
	<b>Dari</b>
	{END dari_fieldheader}
</th>
{END dari_fieldheadercolumn}
	{BEGIN kepada_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN kepada_fieldheader}
	<b>Kepada</b>
	{END kepada_fieldheader}
</th>
{END kepada_fieldheadercolumn}
	{BEGIN status_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN status_fieldheader}
	<b>Status</b>
	{END status_fieldheader}
</th>
{END status_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN sid_fieldcolumn}
<td  class="runner-cc {$sid_class}" {$sid_style}>
	{$sid_value}
</td>
{END sid_fieldcolumn}
	{BEGIN tarikhTerima_fieldcolumn}
<td  class="runner-cc {$tarikhTerima_class}" {$tarikhTerima_style}>
	{$tarikhTerima_value}
</td>
{END tarikhTerima_fieldcolumn}
	{BEGIN dari_fieldcolumn}
<td  class="runner-cc {$dari_class}" {$dari_style}>
	{$dari_value}
</td>
{END dari_fieldcolumn}
	{BEGIN kepada_fieldcolumn}
<td  class="runner-cc {$kepada_class}" {$kepada_style}>
	{$kepada_value}
</td>
{END kepada_fieldcolumn}
	{BEGIN status_fieldcolumn}
<td  class="runner-cc {$status_class}" {$status_style}>
	{$status_value}
</td>
{END status_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN sid_fieldfootercolumn}
<td class="runner-cc "></td>
{END sid_fieldfootercolumn}
{BEGIN tarikhTerima_fieldfootercolumn}
<td class="runner-cc "></td>
{END tarikhTerima_fieldfootercolumn}
{BEGIN dari_fieldfootercolumn}
<td class="runner-cc "></td>
{END dari_fieldfootercolumn}
{BEGIN kepada_fieldfootercolumn}
<td class="runner-cc "></td>
{END kepada_fieldfootercolumn}
{BEGIN status_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END status_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
