<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Tambah Pergerakan, Lihat rekod [
Staff Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN name_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_name {$fielddispclass_name}">
			<b>Nama</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_name {$fielddispclass_name}">
			{$name_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END name_fieldblock}
	{BEGIN post_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_post_id {$fielddispclass_post_id}">
			<b>Jawatan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_post_id {$fielddispclass_post_id}">
			{$post_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END post_id_fieldblock}
	{BEGIN dept_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_dept_id {$fielddispclass_dept_id}">
			<b>Bahagian</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_dept_id {$fielddispclass_dept_id}">
			{$dept_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END dept_id_fieldblock}
	{BEGIN lantikan_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_lantikan_date {$fielddispclass_lantikan_date}">
			<b>Lantikan Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_lantikan_date {$fielddispclass_lantikan_date}">
			{$lantikan_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END lantikan_date_fieldblock}
	{BEGIN sah_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sah_date {$fielddispclass_sah_date}">
			<b>Sah Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sah_date {$fielddispclass_sah_date}">
			{$sah_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sah_date_fieldblock}
	{BEGIN pencen_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pencen_date {$fielddispclass_pencen_date}">
			<b>Pencen Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pencen_date {$fielddispclass_pencen_date}">
			{$pencen_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pencen_date_fieldblock}
	{BEGIN gaji_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_gaji_date {$fielddispclass_gaji_date}">
			<b>Gaji Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_gaji_date {$fielddispclass_gaji_date}">
			{$gaji_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END gaji_date_fieldblock}
	{BEGIN skim_pencen_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skim_pencen {$fielddispclass_skim_pencen}">
			<b>Skim Pencen</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skim_pencen {$fielddispclass_skim_pencen}">
			{$skim_pencen_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END skim_pencen_fieldblock}
	{BEGIN tamatkontrak_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tamatkontrak_date {$fielddispclass_tamatkontrak_date}">
			<b>Tamatkontrak Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tamatkontrak_date {$fielddispclass_tamatkontrak_date}">
			{$tamatkontrak_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tamatkontrak_date_fieldblock}
	{BEGIN nofail_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nofail {$fielddispclass_nofail}">
			<b>Nofail</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_nofail {$fielddispclass_nofail}">
			{$nofail_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END nofail_fieldblock}
	{BEGIN grade_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_grade_id {$fielddispclass_grade_id}">
			<b>Grade Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_grade_id {$fielddispclass_grade_id}">
			{$grade_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END grade_id_fieldblock}
	{BEGIN start_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_start_date {$fielddispclass_start_date}">
			<b>Start Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_start_date {$fielddispclass_start_date}">
			{$start_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END start_date_fieldblock}
	{BEGIN scheme_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_scheme_id {$fielddispclass_scheme_id}">
			<b>Scheme Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_scheme_id {$fielddispclass_scheme_id}">
			{$scheme_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END scheme_id_fieldblock}
	{BEGIN username_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_username {$fielddispclass_username}">
			<b>Username</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_username {$fielddispclass_username}">
			{$username_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END username_fieldblock}
	{BEGIN password_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_password {$fielddispclass_password}">
			<b>Password</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_password {$fielddispclass_password}">
			{$password_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END password_fieldblock}
	{BEGIN type_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_type {$fielddispclass_type}">
			<b>Type</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_type {$fielddispclass_type}">
			{$type_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END type_fieldblock}
	{BEGIN level_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_level {$fielddispclass_level}">
			<b>Level</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_level {$fielddispclass_level}">
			{$level_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END level_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" onclick="window.location.href='TambahPergerakan_list.php?a=return'" {$backbutton_attrs}>Kembali ke senarai</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
