<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="lantikan_date">
	{$lantikan_date_editcontrol}
	</control>
	<control field="sah_date">
	{$sah_date_editcontrol}
	</control>
	<control field="pencen_date">
	{$pencen_date_editcontrol}
	</control>
	<control field="gaji_date">
	{$gaji_date_editcontrol}
	</control>
	<control field="skim_pencen">
	{$skim_pencen_editcontrol}
	</control>
	<control field="tamatkontrak_date">
	{$tamatkontrak_date_editcontrol}
	</control>
	<control field="nofail">
	{$nofail_editcontrol}
	</control>
	<control field="grade_id">
	{$grade_id_editcontrol}
	</control>
	<control field="start_date">
	{$start_date_editcontrol}
	</control>
	<control field="scheme_id">
	{$scheme_id_editcontrol}
	</control>
	<control field="username">
	{$username_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<control field="type">
	{$type_editcontrol}
	</control>
	<control field="level">
	{$level_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>