<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="tarikhTerima">
	{$tarikhTerima_editcontrol}
	</control>
	<control 
	field="Jenis">
	{$Jenis_editcontrol}
	</control>
	<control 
	field="awam">
	{$awam_editcontrol}
	</control>
	<control 
	field="agensi">
	{$agensi_editcontrol}
	</control>
	<control 
	field="tarikhSurat">
	{$tarikhSurat_editcontrol}
	</control>
	<control 
	field="individu">
	{$individu_editcontrol}
	</control>
	<control 
	field="status">
	{$status_editcontrol}
	</control>
	<control 
	field="kategori">
	{$kategori_editcontrol}
	</control>
	<control 
	field="rujukanSurat">
	{$rujukanSurat_editcontrol}
	</control>
	<control 
	field="RingkasanKandungan">
	{$RingkasanKandungan_editcontrol}
	</control>
	<control 
	field="bahagian">
	{$bahagian_editcontrol}
	</control>
	<control 
	field="jawatan">
	{$jawatan_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
