<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_add}
<table class="runner-c runner-c-add" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-addheader {$brickclass_addheader}">User View, Tambah rekod baru</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >
<tr class="{$cheaderclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>


	{BEGIN tarikhSurat_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tarikhSurat {$fielddispclass_tarikhSurat}">
			{BEGIN tarikhSurat_label}Tarikh Surat{END tarikhSurat_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tarikhSurat {$fielddispclass_tarikhSurat}">
			{$tarikhSurat_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tarikhSurat_fieldblock}
	{BEGIN tarikhTerima_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tarikhTerima {$fielddispclass_tarikhTerima}">
			{BEGIN tarikhTerima_label}Tarikh Terima{END tarikhTerima_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tarikhTerima {$fielddispclass_tarikhTerima}">
			{$tarikhTerima_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tarikhTerima_fieldblock}
	{BEGIN rujukanSurat_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_rujukanSurat {$fielddispclass_rujukanSurat}">
			{BEGIN rujukanSurat_label}Rujukan Surat{END rujukanSurat_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_rujukanSurat {$fielddispclass_rujukanSurat}">
			{$rujukanSurat_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END rujukanSurat_fieldblock}
	{BEGIN RingkasanKandungan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_RingkasanKandungan {$fielddispclass_RingkasanKandungan}">
			{BEGIN RingkasanKandungan_label}Ringkasan Kandungan{END RingkasanKandungan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_RingkasanKandungan {$fielddispclass_RingkasanKandungan}">
			{$RingkasanKandungan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END RingkasanKandungan_fieldblock}
	{BEGIN Jenis_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Jenis {$fielddispclass_Jenis}">
			{BEGIN Jenis_label}Jenis{END Jenis_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Jenis {$fielddispclass_Jenis}">
			{$Jenis_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Jenis_fieldblock}
	{BEGIN kategori_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kategori {$fielddispclass_kategori}">
			{BEGIN kategori_label}Kategori{END kategori_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_kategori {$fielddispclass_kategori}">
			{$kategori_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END kategori_fieldblock}
	{BEGIN bahagian_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bahagian {$fielddispclass_bahagian}">
			{BEGIN bahagian_label}Bahagian{END bahagian_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_bahagian {$fielddispclass_bahagian}">
			{$bahagian_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END bahagian_fieldblock}
	{BEGIN individu_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_individu {$fielddispclass_individu}">
			{BEGIN individu_label}Individu{END individu_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_individu {$fielddispclass_individu}">
			{$individu_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END individu_fieldblock}
	{BEGIN jawatan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jawatan {$fielddispclass_jawatan}">
			{BEGIN jawatan_label}Jawatan{END jawatan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_jawatan {$fielddispclass_jawatan}">
			{$jawatan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jawatan_fieldblock}
	{BEGIN agensi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_agensi {$fielddispclass_agensi}">
			{BEGIN agensi_label}Agensi{END agensi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_agensi {$fielddispclass_agensi}">
			{$agensi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END agensi_fieldblock}
	{BEGIN awam_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_awam {$fielddispclass_awam}">
			{BEGIN awam_label}Awam{END awam_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_awam {$fielddispclass_awam}">
			{$awam_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END awam_fieldblock}
	{BEGIN status_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_status {$fielddispclass_status}">
			{BEGIN status_label}Status{END status_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_status {$fielddispclass_status}">
			{$status_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END status_fieldblock}
	{BEGIN iid_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_iid {$fielddispclass_iid}">
			{BEGIN iid_label}Nama{END iid_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_iid {$fielddispclass_iid}">
			{$iid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END iid_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Medan Perlu
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-addbuttons {$brickclass_addbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Simpan</a>
</span>
{END save_button}
{BEGIN cancel_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$cancelbutton_attrs}>Batal</a>
</span>
{END cancel_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Kembali ke senarai</a>
</span>
{END back_button}
{BEGIN backToMenu_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backToMenubutton_attrs}>Kembali ke menu</a>
</span>
{END backToMenu_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_add}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_add}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
