<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Viewer: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Tarikh</th>
			<th class="runner-cc ">Sid</th>
			<th class="runner-cc ">Penghantar</th>
			<th class="runner-cc ">Penerima</th>
			<th class="runner-cc ">Catatan</th>
			<th class="runner-cc ">Email Status</th>
			<th class="runner-cc ">Status</th>
			<th class="runner-cc runner-clast">Siid</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$Tarikh_mastervalue}</td>
			<td class="runner-cc ">{$sid_mastervalue}</td>
			<td class="runner-cc ">{$Penghantar_mastervalue}</td>
			<td class="runner-cc ">{$Penerima_mastervalue}</td>
			<td class="runner-cc ">{$Catatan_mastervalue}</td>
			<td class="runner-cc ">{$Email_Status_mastervalue}</td>
			<td class="runner-cc ">{$Status_mastervalue}</td>
			<td class="runner-cc runner-clast">{$siid_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>